# **Use python tuples! ...and take data science by storm**

### create tuple

In [56]:
text_file = "Bikeshare_Scooter_Systems.csv"
with open(text_file) as open_text_file:
    read_text_file = open_text_file.readlines()
    test_str = read_text_file[1].replace('\n','')
    test_list = test_str.split(',')
    test_tuple = tuple(test_list)

### Access tuple

In [57]:
print(test_tuple)
print(test_tuple[2])
print(test_tuple[-2])

('1', 'AL001', 'Birmingham', 'AL', '2015', '63', 'Zyp BikeShare')
Birmingham
63

### Concatenate tuples

In [58]:
concat_tuple = test_tuple + ("orange",14,12.5)
nested_tuple = concat_tuple + ("blue",(1,5.2,4,3.2))
print(concat_tuple)
print(nested_tuple)
print(nested_tuple[11][1])

('1', 'AL001', 'Birmingham', 'AL', '2015', '63', 'Zyp BikeShare', 'orange', 14, 12.5)
('1', 'AL001', 'Birmingham', 'AL', '2015', '63', 'Zyp BikeShare', 'orange', 14, 12.5, 'blue', (1, 5.2, 4, 3.2))
5.2

### tuple operations

In [59]:
print(nested_tuple[2:5])
print(len(concat_tuple))
numeric_tuple = nested_tuple[11]
print(numeric_tuple)
print(sorted(numeric_tuple))

('Birmingham', 'AL', '2015')
10
(1, 5.2, 4, 3.2)
[1, 3.2, 4, 5.2]

### tuples are immutable