# **Use python! Take data science by storm**

### Read data into dataframe

In [4]:
import pandas as pd # open source data analysis and manipulation tool
test = pd.read_csv("./test.csv") # read csv file
print('read successfully')

read successfully

### Check dimension of dataframe

In [5]:
test.shape # check dimension of datframe

(3, 3)

### Check first colums of dataframe

In [6]:
test.head() # print dataframe

   id      customer product
0   1  Peter Taylor    lamp
1   2   Sara Miller    sofa
2   3    Max Hanson  table